@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #8ecae6;
  font-family: 'Lato', sans-serif;
  height: 100%;
  align-items: center;
}

.root {
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
}
