@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: none;
}

body {
  background-color: #fff;
  display: grid;
  place-content: center;
  font-family: 'Lato', sans-serif;
  height: 100vh;
  font-size: 20px;
}

.container {
  height: auto;
  width: 40vw;
  border-radius: none;
  padding: 1rem;
}

.result {
  grid-column: 1 / -1;
  background: #858694;
  color: #fff;
  text-align: right;
  padding: 0.5rem;
  font-size: 4rem;
  overflow: hidden;
}

.wrapper {
  background-color: #e0e0e0;
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.btn {
  display: grid;
  place-content: center;
  cursor: pointer;
  font-weight: bold;
  border: solid 1px #bababa;
  padding: 1.5rem;
}

.btn:hover {
  background-color: rgb(51, 40, 40);
  color: #fff;
}

.orange {
  background: #f5913e;
}

.zero {
  grid-column: span 2;
}
